@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

:root{
    --sucess-color: rgb(66, 153, 66);
    --warning-color: rgb(177, 22, 22);
    --dark-grey: rgb(65, 63, 63);
    --ligth-grey: #bbb;
    --white: rgb(255, 255, 255);
}

* {
    box-sizing: border-box;
}

h1 {
    margin: 0;
    text-align: center;
    margin-bottom: 1rem;
}

h2 {
    text-align: center;
    font-size: 2rem;
}

h3 {
    border-bottom: 1px solid var(--white);
    padding-bottom: 10px;
    margin: 40px 0 10px;
    text-align: center;
}

h4 {
    margin: 0;
    text-transform: uppercase;
    text-align: center;
}

body {
    background-color: #95be94;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

.container {
    margin: 30px auto;
    width: 350px;
}

.totals {
    display: flex;
    margin: 20px 0;
    justify-content: space-between;
    border-radius: 1rem;
    background-color: var(--white);
}

.totals > article {
    flex: 1;
    text-align: center;
    margin-top: 0.5rem;
    font-size: 2rem;
    
}

#income{
    color: var(--sucess-color);
    font-size: 1.5rem;
    font-weight: bold;
}

#spend {
    color: var(--warning-color);
    font-size: 1.5rem;
    font-weight: bold;
}

label {
    display: inline-block;
    margin: 14px 0;
}

label > p { 
    font-size: small;
    margin: 0;
     
}

input[type='text'],
input[type='number'] {
    border: 1px solid var(--ligth-grey);
    border-radius: 1rem;
    display: block;
    font-size: 18px;
    padding: 5px;
    width: 100%;
    margin: 0.25rem;
    font-family: 'Poppins', sans-serif;
}


#list {
    list-style: none;
    padding: 0;
    display: flex;
    flex-direction: column;
    width: 100%;
    font-size: 1rem;
    text-align: center;
}

.income-spend {
    width: 100%;
    display: flex;
    justify-content:space-between;
    padding: 0.2rem;
    border-bottom: 1px solid var(--ligth-grey);
    align-items: center;
}

.income- > span {
    display: flex;
    font-weight: bold;
    align-items: center;
  
}

.add-btn{
    background: var(--dark-grey);
    margin-top: 1rem;
    cursor: pointer;
    border: none;
    border-radius: 1rem;
    padding: 2px 10px;
    color: var(--white);
    font-size: 1rem;
    letter-spacing: 0.5mm;
    position: relative;
    width: 100%;
    font-family: 'Poppins', sans-serif;
}

.delete-btn {
    cursor: pointer;
    margin-left: 5px;
    max-block-size: 24px;
    border-radius: 1rem;
    background-color: var(--warning-color);
    color: var(--white);
    font-family: 'Poppins', sans-serif;
    border:none;
}